project:
  type: website

website:
  title: "Jessica Im"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - text: "Resume"
        href: Jessica(Jiwoo)Im_Resume.pdf

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

